<h1>About SpyderFrame</h1>
</br>
<p>SpyderFrame is a text analytics application that allows small businesses to take advantage of the power unstructured data on the web.</p>
</br>
<p>SpyderFrame was developed by Joel Ramsey, founder of SpyderFrame, LLC.</p>

