<h1>Contact Glyphex Technologies, Limited</h1>
  <p>General Inquiries</p>
    
      <p><a href="mailto:support@glyphex.com"><i class='glyphicon glyphicon-wrench'></i> Product Support</a></p>
      <p><a href="msilto:info@glyphex.com"><i class='glyphicon glyphicon-bullhorn'></i> Information</a></p>
    

  <p>Joel Ramsey - Co-founder</p>
   
      <p><a href="mailto:joel.d.ramsey@gmail.com"><i class='glyphicon glyphicon-envelope'></i> Email Joel</a></p>
      
    
